@model IEnumerable<SecondHand.Models.skupnimodel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.oblacilapodatki.ImeOblacila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oblacilapodatki.SlikaOblekeUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oblacilapodatki.opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oblacilapodatki.owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oblacilapodatki.cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oblacilapodatki.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oblacilapodatki.Kategorija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.oblacilapodatki.ImeOblacila)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.oblacilapodatki.SlikaOblekeUrl)" width="100">
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.oblacilapodatki.opis)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.oblacilapodatki.owner.FirstName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.oblacilapodatki.cena)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.oblacilapodatki.DateCreated)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategorijapodatki.ImeKategorije)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.oblacilapodatki.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.oblacilapodatki.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.oblacilapodatki.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
