@model SecondHand.Models.Obutev

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Obutev</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImeCevlja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeCevlja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlikaCevljaUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlikaCevljaUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StCevlja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StCevlja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.znamka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.znamka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategorija.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
